<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thoughtworks.easterEggHunt" >
    <uses-sdk android:minSdkVersion="18"
              android:targetSdkVersion="19"
              android:maxSdkVersion="19" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/random"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.thoughtworks.easterEggHunt.android.activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.thoughtworks.easterEggHunt.android.activities.RegistrationActivity"
                android:label="@string/registration" >
        </activity>
        <activity android:name="com.thoughtworks.easterEggHunt.android.activities.ListUsersActivity"
                android:label="@string/list_users" >
        </activity>
    </application>

</manifest>
